* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #000;
    --color-dark-gray: #121212;
    --color-medium-gray: #181818;
    --color-light-gray: #b3b3b3;
    --color-white: #fff;
    --color-green: #1ed750;
}

body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background-color: var(--color-black);
    color: var(--color-white);
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* 1. BARRA LATERAL (SIDEBAR) */
.sidebar {
    width: 300px; /* Largura fixa */
    min-width: 250px;
    background-color: var(--color-black);
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-section, .library-section {
    background-color: var(--color-dark-gray);
    border-radius: 8px;
    padding: 16px;
}